.root {
    li {
        display: inline-block;
    }

    a {
        text-align: center;
        width: 45px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        height: 45px;
        cursor: pointer;
        margin-right: 10px;
        display: inline-block;
        line-height: 42px;
        color: #fe5f1e;

        &:hover {
            background-color: #fe5f1e;
            color:#fff;
        }
    }

    :global {
        .selected{
           a {
            background-color: #fe5f1e;
            color:#fff;
           }
        }
    }
}